/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

/* VARIABLES */
:root {
  --page-color: rgb(15, 15, 15);
  --active-color: rgba(218, 218, 218, 0.926);
  --select-color: rgba(114, 114, 114, 0.493);
  /* rgb(180, 65, 184) */
}

/* DEFAULT STYLE */
html {
  scroll-behavior: smooth;
  height: 300vh;
}

html * {
  margin: 0;
  padding: 0;
  z-index: 5;
}

/* html#loading {
  filter: blur(20px);
} */

body {
  background-color: var(--page-color);
  color: rgb(244, 244, 244);
  font-family: Kanit, sans-serif;
  letter-spacing: 1.5px;
}

i {
  font-size: 1.15rem;
}

/* SPEC ICON SIZES */
#bd {
  font-size: 0.9rem;
  margin-top: 0.45rem;
}
/* ==== */

a {
  color: var(--active-color);
}

a.ic {
  color: rgb(244, 244, 244);
}

h1.i {
  font-size: max(3.25rem, 10vw);
  line-height: 10.5vw;
}

span.i {
  font-size: max(1rem, 1.75vw);
  line-height: max(1.15rem, 2.25vw);
  margin-top: 4.2vh;
}

h1.si {
  font-size: max(2rem, 4vw);
}

/* TOOLTIP */
#tooltip {
  position: absolute;
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  background-color: rgba(0, 0, 0, 0.95);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

#tooltipdesc {
  color: rgba(255, 255, 255, 0.601);
  font-family: sans-serif;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--page-color);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* SELECTION */
::selection {
  background: var(--select-color);
}

::-moz-selection {
  background: var(--active-color);
}

/* FADE */
#bottom_fade {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1vh;
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 10;
}

/* SHOW CLASS */
nav.show {
  opacity: 1;
  transform: translateY(0);
}

/* HEADER */
nav {
  opacity: 0;
  transform: translateY(-2rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem 5vh 1rem;
  position: fixed;
  top: 0;
  width: calc(100% - 1rem);
  z-index: 1030; /* to prevent the navbar getting covered up by other content */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.741), rgba(0, 0, 0, 0));
  transition-property: opacity transform;
  transition: 0.23s cubic-bezier(0.47, 0, 0.745, 0.715);
}

nav img {
  align-self: baseline;
  height: clamp(2.5rem, 3.75vw, 2.75rem);
  border-radius: 50%;
  margin-right: 1rem;
}

nav h2 {
  align-self: flex-start;
  font-size: clamp(1.75rem, 2.35vw, 1.9rem);
  text-transform: uppercase;
  cursor: default;
  white-space: nowrap;
}

nav ul {
  margin-top: 0.3rem;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  nav {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  nav ul {
    display: none;
  }
}

nav ul li {
  margin: 0.3rem 1rem 0.7rem 1rem;
  list-style: none;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

nav ul li:hover > a,
nav ul li:hover {
  color: rgba(255, 255, 255, 0.734);
}

nav ul li:active {
  color: var(--active-color);
}

/* SPACE */
@import "susy";
@import "compass/reset";

.stars,
.twinkling,
.clouds {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stars {
  z-index: 0;
  background: #000 url("https://i.imgur.com/YKY28eT.png") repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url("https://i.imgur.com/XYMF4ca.png") repeat top
    center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("https://i.imgur.com/mHbScrQ.png") repeat top
    center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
/* =================================== */

nav ul li:active {
  animation: mobileClick 0.2s;
}

#page {
  margin-top: 1vw;
  padding: 5vh 10vw;
}

article {
  margin-top: 7vh;
  margin-bottom: 23vh;
  text-align: center;
  align-self: center;
  justify-self: center;
  /* height: 50vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ================= */

#welcome {
  height: 76.5vh;
  margin-top: 0;
  margin-bottom: 20vh;
}

#welcome ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 3rem;
}

#welcome a {
  background-color: rgba(255, 255, 255, 0.299);
  padding: 1rem;
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  transition: 0.2s all cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
}

#welcome a:hover {
  transform: scale(1.15);
  background-color: rgba(255, 255, 255, 0.503);
  color: #000;
}

/* =============== */

#stats_s {
  margin-top: 10vh;
  padding: 0.5rem;
}

.barlabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .barlabel span {
  width: 7vw;
} */

.barlabel span.label {
  width: 7vw;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 70vw;
  height: 5vh;
  border-radius: 0.6rem;
  margin: 2rem;
  overflow: hidden;
}

.barsection {
  width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
  /* transition: all 5s cubic-bezier(0.35, 0.7, 0.1, 0.93); */
  height: 5vh;
  white-space: nowrap;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

.barsection span:last-child {
  margin-left: auto;
}

.barsection:last-child {
  border-radius: 0 0.6rem 0.6rem 0;
}

.barsection p {
  display: none;
}

@media (max-width: 1200px) {
  .barsection span {
    display: none;
  }
}

/* =============== */

#acheivements h1 {
  margin-bottom: 3.75rem;
  white-space: nowrap;
}

#acheivementsys {
  width: 90vw;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.acheivement {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(79, 79, 79);
  padding: 0.75rem;
  border-radius: 1rem;
  display: flex;
  width: 3.25rem;
  justify-content: center;
  align-items: center;
  transition: 0.2s all cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.8;
}

.acheivement:hover {
  transform: scale(1.15);
  opacity: 1;
  filter: brightness(1.1);
}

.acheivement img {
  width: calc(100% - 2px);
  filter: drop-shadow(0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.336));
}

.faded {
  opacity: 0.23;
}

.faded:hover {
  opacity: 0.7;
}

.tip {
  display: none;
}
