/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

/* VARIABLES */
:root {
  --page-background: rgb(7, 2, 10);
  --card-background: rgb(41, 28, 53);
  --glow-color: rgb(56, 0, 185);
}

/* DEFAULT STYLE */
html * {
  margin: 0;
  padding: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* html#loading {
  filter: blur(20px);
} */

body {
  background-color: var(--page-background);
  color: rgb(246, 246, 246);
  font-family: Kanit, sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--page-background);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* SELECTION */
::selection {
  background: var(--card-background);
}

::-moz-selection {
  background: var(--card-background);
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

header img {
  height: 5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

header h1 {
  font-size: 9vw;
  text-align: center;
  text-transform: uppercase;
}

/* TITLE */
body > h2 {
  padding: 2rem 2rem 0.2rem 2rem;
}

/* ARTICLE */
article {
  padding: 1rem 5rem 2rem 2rem;
  line-height: 1.75rem;
  /* margin-right: 5rem; */
}

article p {
  text-transform: none;
}

/* GRID SECTION */
section.grid {
  padding: 2rem;
  padding-top: 1.2rem;
}

section.grid > div.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

section.grid > div > div {
  /* background-color: var(--card-background); */
  /* From https://css.glass */
  background: rgba(131, 36, 255, 0.23);
  border-radius: 16px;
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
  /**/
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (hover: hover) and (pointer: fine) {
  section.grid > div > div:hover {
    transform: scale(1.1);
  }
}

section.grid > div > div > a {
  color: inherit;
  text-decoration: inherit;
}

section.grid > div > div > a > img {
  width: 100%;
}

section.grid > div > div > a > div {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
}

section.grid > div > div > a > div > div {
  margin-right: 1.25rem;
}

section.grid > div > div > a > div > div > h4 {
  margin-bottom: 0.8rem;
}
section.grid > div > div > a > div > div > p {
  text-transform: none;
}

section.grid > div > div > a > div > span {
  margin-left: auto;
}

/* MEDIA QUERIES (help) */
@media (max-width: 1000px) {
  section.grid > div.grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  section.grid > div.grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  section.grid > div.grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* BG parallax effect */
#parallax-container {
  /* display: none; */

  z-index: -199;
  position: absolute;
  width: 100%;
}

#parallax-overlay {
  z-index: -199;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  background: linear-gradient(
    90deg,
    var(--page-background) 0%,
    rgba(255, 255, 255, 0) 1.5%,
    rgba(255, 255, 255, 0) 98.5%,
    var(--page-background)
  );
}

#parallax {
  z-index: -200;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(media/background2.png);
  background-repeat: repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: 20rem;
  opacity: 0.03;
}

#parallax:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--page-background) 90%
  );
  width: 100%;
  height: 10em;
}
