body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;

    padding: 6rem 20vw;
}

@media (max-width: 1420px) {
    body {
        padding-inline: 10vw;
    }
}

@media (max-width: 768px) {
    body {
        padding: 6rem 5vw;
    }
}

@media (max-width: 480px) {
    body {
        padding: 6rem 3vw;
    }
}
