main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;

    padding: 6rem 13vw;
}

@media (max-width: 768px) {
    main {
        padding: 6rem 5vw;
    }
}

@media (max-width: 480px) {
    main {
        padding: 6rem 3vw;
    }
}
