body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;

    padding: 6rem 20vw;
}

@media (max-width: 1300px) {
    body {
        padding-inline: 15vw;
    }
}

@media (max-width: 850px) {
    body {
        padding: 6rem 5vw;
    }
}

@media (max-width: 480px) {
    body {
        padding: 6rem 3vw;
    }
}
