h1,
h2,
h3,
h4,
h5,
h6,
p {
    opacity: 0.95;
}

img#title-logo {
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 0 auto min(2vw, 2rem) auto;
    border: 4px solid rgb(236, 231, 246);
    border-radius: 100%;
}

h1#title-header {
    margin: 1rem 0;
    font-size: 4rem;
    text-align: center;
}

h2#title-quote {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}

section#title-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

@media (max-width: 500px) {
    section#title-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

main {
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    flex-direction: column;
}

main h2 {
    margin: 2rem 0;
    font-size: 2rem;
}

section>p {
    margin-top: 2rem;
    font-size: 1.3rem;
}

section>p>a {
    color: rgb(236, 231, 246);
}

section ul {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 1rem;
}

@media (max-width: 750px) {
    section ul {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 750px) {
    section ul li {
        width: clamp(20rem, 20vw, 40rem);
        margin: 0.25rem;
    }
}