img#title-logo {
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 0 auto min(2vw, 2rem) auto;
    border: 4px solid #000;
    border-radius: 100%;
}

h1#title-header {
    margin: 1rem 0;
    font-size: 4rem;
    text-align: center;
}

h2#title-quote {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}

section#title-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0;
}

main {
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    flex-direction: column;
}

main h2 {
    margin: 2rem 0;
    font-size: 2rem;
}

section>p {
    margin-top: 2rem;
    font-size: 1.3rem;
}

section>p>a {
    color: #000;
}

section ul {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

@media (max-width: 750px) {
    section ul {
        display: flex;
        flex-direction: column;
    }

    section ul li {
        width: 100%;
    }
}