<div>
    <h1>Call me Kubo!</h1>
    <p>
        I'm a passionate (mostly) self-taught programmer with a devotion to life-long learning and improvement.
        I like to make cool stuff while solving real-world problems, especially when they bother me personally.
        I've been coding my way through life since I was about 8 years old and my fire for programming hasn't burned out since.
        And yes, I know how to center a div...
    </p>

    <h1>Top Skills</h1>
    <ul>
        <li>Full-stack development</li>
        <li>Game development</li>
        <li>Teamwork</li>
        <li>Project management</li>
    </ul>

    <h1>Volunteering</h1>
    <figure class="accented">
        <h2>Slovenský skauting</h2>
        <p>Dec 2022 - Present</p>
    </figure>
    <figure class="accented">
        <h2>CoderDojo Bratislava</h2>
        <p>Sep 2023 - Present</p>
    </figure>

    <h1>Languages</h1>
    <ul>
        <li>Slovak (native)</li>
        <li>English (bilingual)</li>
        <li>German (B1)</li>
    </ul>

    <h1>Education</h1>
    <figure class="accented">
        <h2>Gymnázium</h2>
        <p>Sep 2019 - Jun 2027</p>
    </figure>

    <h1>Interests</h1>
    <ul>
        <li>Playing guitar</li>
        <li>Scouting</li>
        <li>Making and playing video games</li>
        <li>Reading books for personal growth</li>
    </ul>

    <h1>Favorite Books</h1>
    <ol>
        <li>Paulo Coelho - The Alchemist</li>
        <li>Dale Carnegie - How to Win Friends and Influence People</li>
        <li>George Orwell - 1984</li>
        <li>Napoleon Hill - Think and Grow Rich</li>
    </ol>

    <!--
    <h1>My Story</h1>
    <h2>1. Hello, World!</h2>
    <p>
        When I was around 8 years old, I convinced my parents to buy me a book
        that claimed to teach how to create games. Being a big fan of video games
        back then, as I am now, I was instantly fond of the idea of creating
        my very own game. The book was about Scratch, the orange cat platform.
        As much as people tend to mock it for its simplicity, it really
        taught me the fundamentals of logic in programming. I'd go as far as to
        say I wouldn't be as good of a programmer as I am now if it weren't for
        the hours sat in front of our old family Lenovo desktop dragging blocks
        on the screen to make the funny cat move where I wanted it to.
        This was my very first contact with coding and it brought me a long
        way to understanding more complex topics later in my life.
    </p>
    <h2>2. Caught in the Web</h2>
    <p>
        Some time passed and I got bored. That's when I found another programming
        book. This one taught the basics of HTML, CSS, and Javascript. It was
        called something along the lines of "CoderDojo Nano: Create with Code".
        Back then I wasn't really familiar with creating websites on the
        internet. For all I knew, you just had to drag-and-drop some blocks
        on a page and press "publish". Oh boy was I surprised when I first
        opened that book. Regardless of my initial shock, I decided to push
        through and followed the instructions. I wanted to have a website,
        afterall. (note that this was before I had access to social media,
        so having a personal page back then was a huge deal) In no time,
        I had a text editor up and running, slowly typing away at my first
        HTML file, "index.html". Slowly but surely, I went through the book
        implementing everything I saw and then editing the colors and styles
        to my liking. The result was a hilarious green-yellow page with a red border and
        a rainbow wave background. I made a personal "portfolio" that featured
        all my published Scratch games as iframes and a list of my best friends
        in order of my liking. It also featured a page with my personal introduction
        and a list of my favorite things. (note that I was at most 10 years old
        when I did this) Additionally, I wanted to be a
        YouTuber, so I created a promotional page on my website that featured
        my videos and listed all the reasons people should subscribe to my
        channel. Most of this website has sadly been lost to time, but I have
        very fond memories of it. This journey of mine taught me a lot and gave
        me a very good foundation to build my web-dev skills in the future.
    </p>
    <h2>3. The Serpent</h2>
    -->
</div>

<style>
    .accented {
        border-left: solid var(--primary-accent-dark) 3px;
        padding: 0.5rem 1rem;
    }

    .accented + .accented {
        margin-top: 0.25rem;
    }
</style>
