<div>
    <h1>Call me Kubo!</h1>
    <p>
        I'm a passionate (mostly) self-taught programmer with a devotion to life-long learning and improvement.
        I like to make cool stuff while solving real-world problems, especially when they bother me personally.
        I've been coding my way through life since I was about 8 years old and my fire for programming hasn't burned out since.
        And yes, I can center a div...
    </p>

    <h1>Top Skills</h1>
    <ul>
        <li>Full-stack development</li>
        <li>Game development</li>
        <li>Teamwork</li>
        <li>Project management</li>
    </ul>

    <h1>Volunteering</h1>
    <figure class="accented">
        <h2>Slovenský skauting</h2>
        <p>Dec 2022 - Present</p>
    </figure>
    <figure class="accented">
        <h2>CoderDojo Bratislava</h2>
        <p>Sep 2023 - Present</p>
    </figure>

    <h1>Languages</h1>
    <ul>
        <li>Slovak (native)</li>
        <li>English (bilingual)</li>
        <li>German (B1)</li>
    </ul>

    <h1>Education</h1>
    <figure class="accented">
        <h2>Gymnázium</h2>
        <p>Sep 2019 - Jun 2027</p>
    </figure>
</div>

<style>
    .accented {
        border-left: solid var(--primary-accent-dark) 3px;
        padding: 0.5rem 1rem;
    }

    .accented + .accented {
        margin-top: 0.25rem;
    }
</style>
