---
import BlogPreview from "../blog-preview.astro";

const posts = await Astro.glob("../../pages/blog/*.md");
// TODO: Hook this up to the Twitter API
posts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<div>
    <h1>Blog Posts</h1>
    {
        posts.map((post) => (
            <BlogPreview post={post} />
        ))
    }
</div>

<style>
    h1 {
        margin-bottom: 1rem;
    }
</style>
