---
import RetractingNavbarLayout from "../layouts/retracting-navbar.astro";
import Hero from "../components/hero.astro";
import Picker from "../components/picker.astro";

import "../styles/default-padding.css";

const title = "Jakub Gustafik";
---

<RetractingNavbarLayout title={title}>
    <main>
        <Hero />
        <Picker />

        <section class="container">
            <article class="content" id="content-1">
                <h2>About me</h2>
            </article>

            <article class="content" id="content-2">
                <h2>Projects</h2>
            </article>

            <article class="content" id="content-3">
                <h2>Blog</h2>
            </article>
        </section>
    </main>
</RetractingNavbarLayout>

<style>
    @media (max-width: 500px) {
        main {
            text-align: center;
        }
    }

    .container {
        padding: 1.5rem 3rem;
    }

    .content {
        display: none;
    }

    main:has(#tab-1.active) #content-1,
    main:has(#tab-2.active) #content-2,
    main:has(#tab-3.active) #content-3 {
        display: block;
    }
</style>
