---
import RetractingNavbarLayout from "../layouts/retracting-navbar.astro";
import Hero from "../components/hero.astro";
import Picker from "../components/picker.astro";

import "../styles/default-padding.css";

const title = "Jakub Gustafik";
---

<RetractingNavbarLayout title={title}>
    <main>
        <Hero />
        <Picker />

        <article class="content container">
            <h1>Hello World</h1>
        </article>
    </main>
</RetractingNavbarLayout>

<style>
    @media (max-width: 500px) {
        main {
            text-align: center;
        }
    }

    .content {
        padding: 1.5rem 3rem;
    }
</style>
