---
const { post } = Astro.props;

const dateString = new Date(post.frontmatter.date).toLocaleString("en-US", { month: "long", day: "numeric", year: "numeric" });
---

<figure>
    <a href={post.url} target="_blank">
        <h1>{post.frontmatter.title}</h1>
        <div class="info faded">
            <p>{dateString}</p>
            <p>|</p>
            <p>{post.frontmatter.author}</p>
        </div>
    </a>
</figure>

<style>
    figure {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0.5rem;
        border-top: 1px solid var(--secondary-background-dark);
    }

    figure:last-child {
        border-bottom: 1px solid var(--secondary-background-dark);
    }

    a {
        text-decoration: none;
    }

    figure > a:hover > h1, figure > a:active > h1 {
        color: var(--primary-accent-dark);
    }

    h1 {
        font-size: 1.5rem;
    }

    div.info {
        font-size: 1.25rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-direction: row;
    }
</style>
