---
import BlogInfo from "./blog-info.astro";

const { url, frontmatter } = Astro.props;

const { title, date, author } = frontmatter;
---

<figure>
    <!-- TODO: Add image to blog preview -->
    <a href={url}>
        <figcaption>{title}</figcaption>
        <BlogInfo date={date} author={author} />
    </a>
</figure>

<style>
    figure {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0.5rem;
        border-top: 1px solid var(--secondary-background-dark);
    }

    figure:last-child {
        border-bottom: 1px solid var(--secondary-background-dark);
    }

    a {
        text-decoration: none;
    }

    figure > a:hover > h1, figure > a:active > h1 {
        color: var(--primary-accent-dark);
    }

    figcaption {
        font-size: 1.5rem;
    }
</style>
