---
const { post } = Astro.props;

const dateString = new Date(post.frontmatter.date).toLocaleString("en-US", { month: "long", day: "numeric", year: "numeric" });
---

<figure>
    <a href={post.url}>
        <figcaption>{post.frontmatter.title}</figcaption>
        <div aria-label="Info" class="info faded">
            <p aria-label="Date">{dateString}</p>
            <p aria-hidden="true">|</p>
            <p aria-label="Author">{post.frontmatter.author}</p>
        </div>
    </a>
</figure>

<style>
    figure {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0.5rem;
        border-top: 1px solid var(--secondary-background-dark);
    }

    figure:last-child {
        border-bottom: 1px solid var(--secondary-background-dark);
    }

    a {
        text-decoration: none;
    }

    figure > a:hover > h1, figure > a:active > h1 {
        color: var(--primary-accent-dark);
    }

    figcaption {
        font-size: 1.5rem;
    }

    div.info {
        font-size: 1.25rem;
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        flex-direction: row;
    }

    @media (max-width: 400px) {
        div.info {
            flex-direction: column;
            align-items: flex-start;
        }

        div.info > p[aria-hidden="true"] {
            display: none;
        }
    }
</style>
