---
---

<figure aria-label="Personal links">

    <a href="mailto:business@gustafik.com" aria-label="Email" target="_blank" class="implied">
        <i aria-hidden="true" class="fas fa-envelope"></i>
    </a>

    <a href="https://github.com/kubgus" aria-label="GitHub" target="_blank" class="implied">
        <i aria-hidden="true" class="fab fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/kubgus/" aria-label="LinkedIn" target="_blank" class="implied">
        <i aria-hidden="true" class="fab fa-linkedin"></i>
    </a>

    <a href="https://twitter.com/gustafik_dev" aria-label="Twitter" target="_blank" class="implied">
        <i aria-hidden="true" class="fab fa-twitter"></i>
    </a>

    <a href="https://discord.com/users/643898809193332786/" aria-label="Discord" target="_blank" class="implied">
        <i aria-hidden="true" class="fab fa-discord"></i>
    </a>

    <a href="https://patreon.com/user?u=96061849&utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link" aria-label="Patreon" target="_blank" class="implied">
        <i aria-hidden="true" class="fab fa-patreon"></i>
    </a>

</figure>

<style>
    figure {
        display: flex;
        gap: 1rem;

        font-size: 1.15rem;

        padding: 0 5px;
    }

    @media (max-width: 1200px) {
        figure {
            font-size: 1.25rem;
        }
    }
</style>

<script src="https://kit.fontawesome.com/098a1e40a4.js" crossorigin="anonymous" is:inline defer></script>
