---
---

<style>
figure {
    display: flex;
    gap: 1rem;

    font-size: 1.15rem;
    line-height: 2.25;

    padding: 0 5px;
}
</style>

<figure>

    <a href="mailto:business@gustafik.com" aria-label="Email" target="_blank" class="implied">
        <i class="fas fa-envelope"></i>
    </a>

    <a href="https://github.com/kubgus" aria-label="GitHub" target="_blank" class="implied">
        <i class="fab fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/kubgus/" aria-label="LinkedIn" target="_blank" class="implied">
        <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://twitter.com/gustafik_dev" aria-label="Twitter" target="_blank" class="implied">
        <i class="fab fa-twitter"></i>
    </a>

    <a href="https://discord.com/users/643898809193332786/" aria-label="Discord" target="_blank" class="implied">
        <i class="fab fa-discord"></i>
    </a>

    <a href="https://patreon.com/user?u=96061849&utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link" aria-label="Patreon" target="_blank" class="implied">
        <i class="fab fa-patreon"></i>
    </a>

</figure>

<script src="https://kit.fontawesome.com/098a1e40a4.js" crossorigin="anonymous" is:inline defer></script>
