---
import ProjectLink from './project-link.astro'

const { href } = Astro.props;

const data = await fetch(`https://api.github.com/repos/${href.split("/").slice(3).join("/")}`).then(res => res.json());
let title = href.split("/")[4];
let description = data.description ? data.description : "GitHub Repository";
---
<style>
    h3 {
        text-transform: capitalize;
    }
</style>
<ProjectLink href={ href }>
    <h3>{ title }</h3>
    <p>{ description }</p>
</ProjectLink>