---
const { data } = Astro.props;
---

<button title={data?.title ?? "Frame"} popovertarget={data?.title ?? ""}>
    <img src={data?.src ?? "/favicon.png"} alt={data?.title ?? "Frame"} width="128" height="128" class="base" />
    <div class="popover" id={data?.title ?? ""} popover>
        <img src={data?.src ?? "/favicon.png"} alt={data?.title ?? "Frame"} width="256" height="256"/>
        <h2>{data?.title ?? "Frame"}</h2>
    </div>
</button>

<style>
    button {
        all: unset;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        background-color: var(--secondary-background-dark);
        border-radius: 12px;

        cursor: pointer;

        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    img.base {
        max-width: 75%;
        max-height: 75%;
    }

    @media (max-width: 1000px) {
        button {
            box-shadow: none;
        }
    }

    button:hover, figure:active {
        transform: scale(0.9) rotate(3deg);
    }

    .popover:popover-open {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        padding: 2rem 5rem;

        background: var(--background-dark);
        color: inherit;

        border: 2px solid var(--secondary-background-dark);
        border-radius: 12px;
    }

    .popover:popover-open > img {
        width: 90px !important;
        height: 90px !important;

        padding: 12px;

        background: var(--secondary-background-dark);
        border-radius: 12px;

        animation: fadeIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    @keyframes fadeIn {
        from {
            scale: 0.5;
        }
        to {
            scale: 1;
        }
    }
</style>
