<div id="portrait-container">
    <img src="/images/linkedin-portrait.jpg" alt="" id="portrait" loading="lazy" />
</div>

<style>
#portrait {
    width: clamp(120px, 15vw, 140px);
    height: clamp(120px, 15vw, 140px);
    background-color: var(--secondary-background-dark);

    border: 4px solid var(--primary-accent-dark);
    border-radius: 50%;
}
</style>
