<div id="portrait-container">
    <img src="/images/linkedin-portrait.jpg" alt="Portrait" id="portrait" />
</div>

<style>
#portrait {
    width: clamp(120px, 15vw, 140px);

    border: 4px solid var(--primary-accent-dark);
    border-radius: 50%;
}
</style>
