---
const { href } = Astro.props;
---
<style>
    li {
        /* TODO: Fixed height is not an ideal solution; might cause future issues */
        height: 9rem;
        padding: 0.5rem;
        display: inline-block;
        border: 3px solid rgb(236, 231, 246);
        overflow: hidden;
        border-radius: 0.5rem;
    }

    li:hover {
        color: black;
        background-color: rgb(236, 231, 246);
    }

    a {
        text-decoration: none;
        color: rgb(236, 231, 246);
    }

    li:hover a {
        color: black;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>
<li>
    <a href={ href } target="_blank">
        <div>
            <slot />
        </div>
    </a>
</li>