---
const { href } = Astro.props;
---
<style>
    li {
        /* TODO: Fixed height is not an ideal solution; might cause future issues */
        height: 9rem;
        padding: 0.5rem;
        display: inline-block;
        overflow: hidden;
        border-radius: 0.5rem;
        transition: all 0.1s ease-in-out;
        background-color: rgba(255, 255, 255, .11);  
        backdrop-filter: blur(2px);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }

    li:hover {
        backdrop-filter: blur(0px);
        transform: scale(0.95);
        background-color: rgba(255, 255, 255, .17);  
    }

    a {
        text-decoration: none;
        color: rgb(236, 231, 246);
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>
<li>
    <a href={ href } target="_blank">
        <div>
            <slot />
        </div>
    </a>
</li>