---
const { href, title } = Astro.props;
---
<style>
    a {
        text-decoration: none;
        color: rgb(236, 231, 246);
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        border: 2px solid rgb(236, 231, 246);
        width: 4rem;
        text-align: center;
        border-radius: 0.5rem;
    }

    a:hover {
        background: rgb(236, 231, 246);
        color: black;
    }
</style>
<a href={ href } title={ title } target="_blank">
    <slot />
</a>