---
import PictureFrame from "./picture-frame.astro";

let pictures = [
    "astro",
    "aws",
    "cpp",
    "cs",
    "css",
    "firebase",
    "git",
    "github",
    "html",
    "javascript",
    "linux",
    "mongo",
    "neovim",
    "node",
    "nuxt",
    "postgres",
    "python",
    "supabase",
    "tailwind",
    "typescript",
    "unity",
    "vue",
];

pictures = pictures.sort(() => Math.random() - 0.5);
---

<figure>
    <div>
        {
            pictures.map((picture) => (
                <PictureFrame src={`/images/tech-logos/${picture}.png`} alt={picture} />
            ))
        }
        {
            pictures.map((picture) => (
                <PictureFrame src={`/images/tech-logos/${picture}.png`} alt={picture} />
            ))
        }
    </div>
</figure>

<style>
    figure {
        overflow: hidden;
        min-width: 100%;
        position: relative;
        margin: 2rem 0;
    }

    figure {
        scrollbar-width: none;
    }

    figure > div {
        width: max-content;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;
        animation: marquee linear 35s infinite;
    }

    @media (prefers-reduced-motion: reduce) {
        figure {
            overflow: scroll;
        }

        figure > div {
            animation: none;
        }
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
</style>
