---
import PictureFrame from "./picture-frame.astro";

import frameData from "../data/frame-data.js";

const sortedData = frameData.sort(() => Math.random() - 0.5);
---

<figure aria-label="Technology skills">
    <div>
        {
            sortedData.map((data) => (
                <PictureFrame data={data} />
            ))
        }
        {
            sortedData.map((data) => (
                <PictureFrame data={data} />
            ))
        }
    </div>
</figure>

<style>
    figure {
        overflow: hidden;
        min-width: 100%;
        position: relative;
        margin: 2rem 0;
    }

    figure {
        scrollbar-width: none;
    }

    figure > div {
        width: max-content;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;
        animation: marquee linear 35s infinite;
    }

    @media (prefers-reduced-motion: reduce) {
        figure {
            overflow: scroll;
        }

        figure > div {
            animation: none;
        }
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
</style>
