---
import { SEO } from 'astro-seo';

const {
    title = "Jakub Gustafik",
    description = "Student & software developer based in Slovakia",
    image = "/images/linkedin-portrait-v2.jpg",
    canonical = `https://gustafik.com` + Astro.url.pathname,
    og_title = title,
    og_type = "website",
    frontmatter = null,
} = Astro.props;

let open_graph = {
    basic: {
        title: og_title,
        type: og_type,
        image: image,
        url: canonical,
    },
    optional: {
        description: description,
    },
    image: {
        url: image,
        alt: frontmatter?.image?.alt ?? "",
        type: "image/jpeg",
    },
};

if (frontmatter != null) {
    Object.assign(open_graph, { article: {
        publishedTime: frontmatter.date,
        authors: [ frontmatter.author ],
        tags: frontmatter.tags ?? [],
    }});
}
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <SEO
            title={title}
            description={description}
            canonical={canonical}
            openGraph={{
                basic: {
                    title: og_title,
                    type: og_type,
                    image: image,
                    url: canonical,
                },
                optional: {
                    description: description,
                },
                image: {
                    url: image,
                    type: "image/jpeg",
                },
            }}
            twitter={{
                description: description,
                card: "summary",
                site: "@gustafik_dev",
                creator: "@gustafik_dev",
            }}
        />

        <link rel="icon" type="image/png" href="/favicon.png" />
    </head>
    <body>
        <slot />

        <footer>
            <span id="license">©2024 Jakub Gustafik</span>
        </footer>
    </body>
</html>

<!-- Google tag (gtag.js) -->
<script type="text/partytown"async src="https://www.googletagmanager.com/gtag/js?id=G-LQD840NMGC" is:inline></script>
<script type="text/partytown" is:inline>
    window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-LQD840NMGC');
</script>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    :root {
        --background-dark: #0e0e0e;
        --text-color-dark: #dbdbdb;
        --primary-accent-dark: #7054bc;
        --secondary-background-dark: #333;
        --complementary-accent-dark-1: #bc54a1;
        --complementary-accent-dark-2: #a1bc54;
        --complementary-accent-dark-3: #54bc70
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    ::selection {
        background-color: var(--primary-accent-dark);
        color: var(--text-color-dark);
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--secondary-background-dark);
    }

    ::-webkit-scrollbar-track {
        background-color: var(--background-dark);
    }

    body {
        background-color: var(--background-dark);
        color: var(--text-color-dark);

        font-family: 'Kanit', 'Inter', sans-serif;
        font-size: 16px;
        line-height: 1.5;

        margin: 0;
        padding: 0;
    }

    footer {
        text-align: center;
        color: var(--secondary-background-dark);
    }

    .container {
        border: solid 1px var(--secondary-background-dark);
        border-radius: 12px;
    }

    .faded {
        opacity: 0.4;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    a.implied {
        text-decoration: none;
    }

    a.btn {
        text-decoration: none;
        background-color: var(--primary-accent-dark);
        border: none;
        color: var(--text-color-dark);
        padding: 0.3rem 0.9rem;
    }

    a.btn:hover, a.btn:active {
        color: var(--text-color-dark);
        opacity: 0.8;
    }

    a:hover, a:active {
        color: var(--primary-accent-dark);
    }

    a.complementary1:hover, a.complementary1:active {
        color: var(--complementary-accent-dark-1);
    }

    a.complementary2:hover, a.complementary2:active {
        color: var(--complementary-accent-dark-2);
    }

    a.complementary3:hover, a.complementary3:active {
        color: var(--complementary-accent-dark-3);
    }

    button, a.btn, img, video, iframe, input, textarea {
        border-radius: 12px;
    }

    button {
        background-color: var(--primary-accent-dark);
        border: none;
        color: var(--text-color-dark);
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
    }

    button.complementary1 {
        background-color: var(--complementary-accent-dark-1);
    }

    button.complementary2 {
        background-color: var(--complementary-accent-dark-2);
    }

    button.complementary3 {
        background-color: var(--complementary-accent-dark-3);
    }
</style>
