---
import BaseLayout from "../layouts/base-layout.astro";

import SocialsBar from "../components/socials-bar.astro";
---

<BaseLayout>
    <header class="flex flex-row justify-between sticky top-0 left-0 w-full px-6 py-3 bg-brand-black font-dela-gothic-one text-lg">
        <figure class="flex flex-row gap-12">
            <a href="/" title="Jakub Gustafik"><h5 class="scale-125">JG</h5></a>
            <SocialsBar />
        </figure>
        <nav class="ml-auto">
            <ul class="flex flex-row gap-8">
                <li><a href="/">About Me</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="p-6 lg:px-24 lg:py-20">
        <slot />
    </main>
</BaseLayout>
